.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding: 15px;
}

.logo img {
  height: 36px;
}

.menu {
  display: flex;
  text-align: right;
  list-style-type: none;
  align-items: center;
  margin: 0px;
}

.menu .menu-item {
  text-decoration: none;
  color: #888;
  padding-left: 15px;
  font-size: 12px;
}

.menu .menu-item:hover {
  color: #6e6ed8;
}
