.inspiration-item a {
  text-decoration: none;
  color: black;
}

.inspiration-item .card {
  border-radius: 10px;
  background-color: white;
  border: 1px solid #ddd;
  display: inline-flex;
  flex-direction: column;
}

.inspiration-item .image img {
  width: 100%;
  height: 140px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inspiration-item .card .intro {
  padding: 10px;
}

.inspiration-item .card .intro .type,
.address {
  font-size: 10px;
  padding-bottom: 10px;
}

.inspiration-item .card .intro .title {
  font-weight: 600;
  font-size: 14px;
}

.inspiration-item .card .member {
  display: flex;
  align-items: center;
}

.inspiration-item .card .member span {
  font-size: 10px;
  color: #999;
}

.inspiration-item .card .member .image-list {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  margin: 0px;
}

.inspiration-item .card .member .image-list .item-1 {
  z-index: 3;
}

.inspiration-item .card .member .image-list .item-2 {
  z-index: 2;
  margin-left: -5px;
}

.inspiration-item .card .member .image-list .item-3 {
  z-index: 1;
  margin-left: -5px;
}

.inspiration-item .card .member .image-item img {
  width: 20px;
  border-radius: 12px;
  border: 2px solid white;
}

.inspiration-item .card:hover {
  transform: translate(-5px 0px);
  transition: 0.5;
  box-shadow: 3px 3px 5px 0px #eee;
}
